@import url('https://code.cdn.mozilla.net/fonts/fira.css');

:root {
    --off-white: #f6f9fc;
    --border: #febd69;
    --light-border: #fff5e7;
    --dark-text: #404040;
    --dark-border: #ddd;
}

body {
    display: block;
    width: 55%;
    margin: 0 auto;
}

.nav-container {
    display: block;
    padding: 1em 0;
}

.copyright-container {
    text-align: center;
}

@media (max-width: 720px) {
    body {
        width: 90%;
    }
}